* {
    color: white;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar {
    padding: .5rem;
    width: 60vw;
    color: black;
}
.search-button {
    padding: .5rem;
    color: black;
}